# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

public/video/*.mp4



public/data/*mbtiles
public/data/*.mbtiles

public/data/kzn_polygons.geojson
public/data/sal_combined_access.geojson
public/data/sal_combined_access_wgs84.geojson
public/data/sal_combined_wgs84.geojson
